.main{
    padding: 2em;
}

.row{
    display : flex;
    flex-flow: row;
    justify-content: center;
}

.square{
    margin: 0;
    padding: 0;
    height : 5em;
    width : 5em;
    border: 2px solid black;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.white.square{
    background-color: whitesmoke;
}

.black.square{
    background-color: gray;
}

.counter{
    display: flex;
    justify-content: center;
}

.counter p{
    font-size: 500%;
    font-family: monospace;
    font-weight: bold;
    color: gray;
    flex: 0 0 auto;
}

.image{
    max-height: 5em;
    width: auto;
}

.player{
    height: 5em;
    width: 10em;
    text-align: center;
    padding-bottom: 2em;
    box-shadow: 0 20px 25px -6px rgba(0,0,0, 0.5);
    border-radius: 0.2em;
}

.player.white{
    color: gray;
    background-color: whitesmoke;
}

.player.black{
    color: whitesmoke;
    background-color: gray;
}

.board{
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

.player p{
    font-size: 300%;
    font-family: monospace;
    font-weight: bold;
}